@font-face {
    font-family: plusJakartaSans-regular;
    src: url(../src/fonts/PlusJakartaSans-Regular.woff) format('woff');;
}

@font-face {
    font-family: plusJakartaSans-medium;
    src: url(../src/fonts/PlusJakartaSans-Medium.woff) format('woff');;
}

@font-face {
    font-family: plusJakartaSans-semiBold;
    src: url(../src/fonts/PlusJakartaSans-SemiBold.woff) format('woff');;
}

@font-face {
    font-family: plusJakartaSans-bold;
    src: url(../src/fonts/PlusJakartaSans-Bold.woff) format('woff');;
}

:root{
    --green: #80B918;
    --light-green: #ACDB58;
    --blue: #1889B9;
    --form-background: #F1F1F1;
    --error: #F04F4F;
    --warning: #FAC43A;
    --success: #49BB70;
    --info: #589CDB;
    --text-details: #858585;
    --text-white: #FAFAFA;
    --text-default: #2D2D2D;
    --text-main-heading: #1B1B1B;
    --link: #2D81CF;
    --pjs-regular: plusJakartaSans-regular;
    --pjs-medium: plusJakartaSans-medium;
    --pjs-semi: plusJakartaSans-semiBold;
    --pjs-bold: plusJakartaSans-bold;
    --shadow-primary: 0px 4px 20px 5px rgba(66, 68, 90, 0.14);
}

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 16px;
    font-family: var(--pjs-regular);
    color: var(--text-default);
}

h1, h2, h3, h4, h5, h6{
    color: var(--text-main-heading);
}

h1 {
    text-align: center;
}

.text--centered {
    text-align: center;
}

.logo {
    width: 60%;
}

.link{
    color: var(--link);
    font-family: var(--pjs-medium);
}

.paragraph-link {
    font-family: var(--pjs-bold);
    color: var(--text-default);
}

/* ----- navigation -----*/
.nav{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 10px 50px;
    grid-template-areas: 
    ". . icon3 . ."
    "icon1 icon2 . icon4 icon5";
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--form-background);
}

.nav a{
    padding: 10px;
    color: var(--text-default);
    justify-self: center;
    align-self: center;
    cursor: pointer;
}

.active{
    color: var(--green) !important;
    transition: 0.3s ease-out;
}

/** Focus navigation icon's dot **/

/* .nav a::before{
    content: '';
    width: 6px;
    height: 6px;
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s ease-out;
    background-color: var(--green);
    border-radius: 100px;
}

.nav a:hover::before{
    bottom: 10px;
} */

.nav a:first-child{
    grid-area: icon1;
}

.nav a:nth-child(2){
    grid-area: icon2;
}

.nav a:nth-child(3){
    grid-area: icon3;
    padding: 4px;
    background-color: var(--green);
    border-radius: 100px;
    border: 10px solid var(--form-background);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav a:nth-child(4){
    grid-area: icon4;
}

.nav a:nth-child(5){
    grid-area: icon5;
}

.plus{
    color: var(--text-white);
}

/* -----buttons -----*/
.btn{
    width: 100%;
    padding: 16px;
    font-family: var(--pjs-bold);
    font-size: 18px;
    text-decoration: none;
    border-radius: 100px;
    box-sizing: border-box;
    margin-top: 16px;
    text-align: center;
}

.btn--primary{
    background-color: var(--green);
    color: var(--text-white);
}

.btn--secondary{
    border: 2px solid var(--green);
    color: var(--text-default);
}

.btn--delete{
    background-color: var(--error);
    color: var(--text-white);
}

.btns-container{
    display: flex;
    width: 100%;
}

.btns-container--vertical{
    flex-direction: column;
}

.btns-container--horizontal{
    flex-direction: row;
}

/* -----inputs -----*/
form{
    width: 100%;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    background-color: var(--form-background);
    padding: 12px 16px;
    margin-top: 8px;
    font-size: 16px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    outline: none;
}

input[type="submit"]{
    border: none;
}

.input-label{
    display: flex;
    flex-direction: column;
    font-family: var(--pjs-bold);
    margin-bottom: 16px;
}

.input-label:last-child{
    margin-bottom: 0px;  
}

/* -----pages -----*/
.page{
    display: none;
    flex-direction: column;
    margin: 64px 16px;
    height: calc(100vh - 125px);
}

.page--centered {
    align-items: center;
    justify-content: space-between;
}