@font-face {
  font-family: plusJakartaSans-regular;
  src: url(../src/fonts/PlusJakartaSans-Regular.woff) format("woff");
}

@font-face {
  font-family: plusJakartaSans-medium;
  src: url(../src/fonts/PlusJakartaSans-Medium.woff) format("woff");
}

@font-face {
  font-family: plusJakartaSans-semiBold;
  src: url(../src/fonts/PlusJakartaSans-SemiBold.woff) format("woff");
}

@font-face {
  font-family: plusJakartaSans-bold;
  src: url(../src/fonts/PlusJakartaSans-Bold.woff) format("woff");
}

:root {
  --green: #80b918;
  --light-green: #acdb58;
  --light-green-background: rgba(128, 185, 24, 0.1);
  --blue: #1889b9;
  --form-background: #f1f1f1;
  --error: #f04f4f;
  --warning: #fac43a;
  --success: #49bb70;
  --info: #589cdb;
  --text-details: #858585;
  --text-white: #fafafa;
  --text-default: #2d2d2d;
  --text-main-heading: #1b1b1b;
  --link: #2d81cf;
  --pjs-regular: plusJakartaSans-regular;
  --pjs-medium: plusJakartaSans-medium;
  --pjs-semi: plusJakartaSans-semiBold;
  --pjs-bold: plusJakartaSans-bold;
  --shadow-primary: 0px 4px 20px 5px rgba(66, 68, 90, 0.14);
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-size: 16px;
  font-family: var(--pjs-regular);
  color: var(--text-default);
}

.text--green {
  color: var(--green);
}

.text--yellow {
  color: var(--warning);
}

.text--bold {
  font-family: var(--pjs-bold);
}

.text--semi-bold {
  font-family: var(--pjs-semi);
}

.text--med-bold {
  font-family: var(--pjs-medium);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-main-heading);
}

h1 {
  text-align: center;
}

.text--centered {
  text-align: center;
}

.text--left {
  text-align: left;
}

.sub-heading {
  font-size: 18px;
  padding: 16px 0 8px 0;
}

.logo {
  width: 60%;
}

.profile-pic {
  width: 80px;
}

.profile-pic--small {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.link {
  color: var(--link);
  font-family: var(--pjs-medium);
}

.paragraph-link {
  font-family: var(--pjs-bold);
  color: var(--text-default);
}

/* ----- icons ----- */
.icon-small {
  color: var(--text-default);
  width: 16px;
  height: 16px;
  stroke-width: 1px;
}

.icon-medium {
  color: var(--text-default);
  width: 20px;
  height: 20px;
  stroke-width: 1.5px;
}

/* ----- navigation -----*/
.nav {
  display: grid;
  z-index: 1000;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 10px 50px;
  grid-template-areas:
    ". . icon3 . ."
    "icon1 icon2 . icon4 icon5";
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--form-background);
  z-index: 99999;
}

.nav a {
  padding: 10px;
  color: var(--text-default);
  justify-self: center;
  align-self: center;
  cursor: pointer;
}

.active {
  color: var(--green) !important;
  transition: 0.3s ease-out;
}

/** Focus navigation icon's dot **/

/* .nav a::before{
    content: '';
    width: 6px;
    height: 6px;
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s ease-out;
    background-color: var(--green);
    border-radius: 100px;
}

.nav a:hover::before{
    bottom: 10px;
} */

.nav a:first-child {
  grid-area: icon1;
}

.nav a:nth-child(2) {
  grid-area: icon2;
}

.nav a:nth-child(3) {
  grid-area: icon3;
  padding: 4px;
  background-color: var(--green);
  border-radius: 100px;
  border: 10px solid var(--form-background);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav a:nth-child(4) {
  grid-area: icon4;
}

.nav a:nth-child(5) {
  grid-area: icon5;
}

.plus {
  color: var(--text-white);
}

.plus--black {
  color: var(--text-default);
}
/* -----buttons -----*/
.btn {
  font-family: var(--pjs-bold);
  font-size: 18px;
  text-decoration: none;
  border-radius: 100px;
  box-sizing: border-box;
  margin-top: 16px;
  text-align: center;
}

.btn--normal {
  padding: 16px;
  width: 100%;
}

.btn--small {
  padding: 8px 16px;
  width: auto;
}

.btn--primary {
  background-color: var(--green);
  color: var(--text-white);
  border: 2px solid var(--green) !important;
}

.btn--secondary {
  border: 2px solid var(--green) !important;
  color: var(--text-default);
  background: none;
}

.btn--delete {
  background-color: var(--error);
  color: var(--text-white);
}

.btn--cancel {
  border: 2px solid var(--error) !important;
  display: flex;
}

.content--centered {
  margin: 0 auto;
}

.back-button--normal {
  margin: 64px 16px;
  background-color: var(--form-background);
  border-radius: 100%;
  padding: 8px;
  border: none;
  display: flex;
  height: 40px;
  width: 40px;
}

.back-button--normal a {
  color: var(--text-main-heading);
}

.back-button--absolute {
  position: absolute;
  color: var(--text-main-heading);
  margin: 64px 16px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 100%;
  padding: 8px;
  border: none;
  display: flex;
  backdrop-filter: blur(5px);
}

.btns-container,
.tab-menu-container {
  display: flex;
  width: 100%;
}

.filters-menu-container {
  padding-top: 8px;
  display: flex;
  border-radius: 10px;
  z-index: 9999;
  gap: 8px;
  padding-bottom: 32px;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.filters-menu-container::-webkit-scrollbar {
  display: none;
}

.filter {
  box-shadow: var(--shadow-primary);
  padding: 8px 16px;
  font-size: 14px;
  font-family: var(--pjs-bold);
  color: var(--text-default);
  background-color: var(--form-background);
  border: none;
  border-radius: 10px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  height: max-content;
}

.btns-container--vertical {
  flex-direction: column;
}

.btns-container--horizontal {
  flex-direction: row;
  gap: 16px;
}

/* -----inputs -----*/
form {
  width: 100%;
}

input,
select,
textarea {
  width: 100%;
  background-color: var(--form-background);
  font-family: var(--pjs-regular);
  padding: 12px 16px;
  margin-top: 8px;
  font-size: 16px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  outline: none;
}

input[type="submit"] {
  border: none;
}

input.invalid {
  border: 2px solid var(--error);
}

.input-label {
  display: flex;
  flex-direction: column;
  font-family: var(--pjs-bold);
  margin-bottom: 16px;
}

.input-label:last-child {
  margin-bottom: 0px;
}

textarea {
  height: 150px;
}

.tab,
.tab-su {
  display: none;
}

/* ---- tabs menu ---- */
.tab-menu-container {
  box-shadow: var(--shadow-primary);
  border-radius: 10px;
  z-index: 9999;
}

.tabmenu {
  width: 50%;
  padding: 10px 60px;
  font-size: 14px;
  font-family: var(--pjs-bold);
  color: var(--text-details);
  background-color: var(--form-background);
  border: none;
}

.tabmenu--active {
  color: var(--text-default);
  background-color: var(--text-white);
}

#tabmenu1 {
  border-radius: 10px 0 0 10px;
}

#tabmenu2 {
  border-radius: 0 10px 10px 0;
}

#tabmenuLeft {
  border-radius: 12px 0 0 12px;
}

#tabmenuRight {
  border-radius: 0 12px 12px 0;
}

#map-container {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* -----pages -----*/
.page {
  display: none;
  flex-direction: column;
  padding: 64px 16px 124px 16px;
  box-sizing: border-box;
  height: calc(100vh - 65px);
  overflow-y: scroll;
}

.page--centered {
  align-items: center;
  justify-content: space-between;
}

.padding--top--xs {
  padding-top: 8px;
}

.padding--top--sm {
  padding-top: 16px;
}

.padding--top--md {
  padding-top: 32px;
}

.padding--bottom--xs {
  padding-bottom: 8px;
}

.padding--bottom--sm {
  padding-bottom: 16px;
}

.padding--bottom--md {
  padding-bottom: 32px;
}

.margin--top--xs {
  margin-top: 8px;
}

.margin--top--sm {
  margin-top: 16px;
}

.margin--top--md {
  margin-top: 32px;
}

.margin--bottom--xs {
  margin-bottom: 8px;
}

.margin--bottom--sm {
  margin-bottom: 16px;
}

.margin--bottom--md {
  margin-bottom: 32px;
}

#home {
  position: relative;
  overflow-y: unset;
}

.container {
  background-color: var(--form-background);
  border-radius: 10px;
}

.container--green {
  background-color: var(--light-green-background);
  border-radius: 10px;
}

.container--yellow {
  background-color: #ffda7c27;
  border-radius: 10px;
}

.small--photo {
  width: 40px;
  height: 40px;
  border-radius: 80px;
  object-fit: cover;
}

/* ----- food pages -----*/
.food-thumbnail {
  width: 100px;
  object-fit: cover;
  height: 96px;
}

/* ----- progress bar -----*/
.progress-bar {
  width: 100%;
  background-color: var(--form-background);
  height: 10px;
  border-radius: 50px;
}

.bar {
  height: 10px;
  background-color: var(--green);
  width: 5%;
  border-radius: 50px;
}

/* ----- flexbox -----*/
.content--vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

.content--horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gap--8px {
  gap: 8px;
}

.flex--wrap {
  flex-wrap: wrap;
}

.align--center {
  align-items: center;
}

.space--around {
  justify-content: space-around;
}

.space--between {
  justify-content: space-between;
}

.flex--gap {
  gap: 10px;
}

/* ----- carousel slider -----*/
.carousel-slider {
  display: flex;
  width: 100%;
  height: 150px;
  overflow-x: scroll;
  position: absolute;
  bottom: 0;
  padding: 32px 0;
}

.carousel-slider--relative {
  position: unset;
  bottom: unset;
}

.carousel-slider-item {
  flex: 1 0 auto;
  width: 160px;
  margin: 0 8px 0 16px;
  background-color: var(--form-background);
  border-radius: 10px;
  -webkit-box-shadow: var(--shadow-primary);
  box-shadow: var(--shadow-primary);
}

.carousel-slider-item > img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.carousel-slider-details {
  box-sizing: border-box;
  padding: 8px;
}

.carousel-slider-details > p,
.carousel-slider-details > span {
  font-size: 14px;
}

.carousel-slider-details > p {
  font-family: var(--pjs-bold);
}

/* ----- map -----*/

#map {
  width: 100%;
  height: 100vh;
}

canvas {
  width: 100%;
  height: 300px;
}

#marker {
  background-image: url("../src/foodImg/apples.jpeg");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: 5px solid white;
  box-shadow: var(--shadow-primary);
}

/* ----- PRODUCT PAGE -----*/
#product {
  padding: 0;
  height: 130vh;
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-header {
  display: flex;
}

#productMap {
  height: 150px;
  border-radius: 10px;
  margin: 16px 0;
}

.user-banner {
  padding: 16px;
  display: flex;
  background-color: var(--form-background);
  border-radius: 10px;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
}
/* ----- add item page -----*/

.add-form {
  margin-top: 50px;
}

.form-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 35px 0;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.form-header > h1 {
  font-size: 24px;
  font-family: var(--pjs-bold);
  color: var(--text-main-heading);
}

.add-form > .tab > .content--horizontal {
  gap: 16px;
}

.add-form > .tab > .content--horizontal > .input-label {
  width: 50%;
}

.add-form > .tab > .quantity > .input-label {
  margin-bottom: 0px;
}

/* input[type="file"]{
  display: none;
}

.get-file-input{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--form-background);
  border-radius: 10px;
  width: 100px;
  height: 100px;
  cursor: pointer;
  margin: 0 auto;
} */

.overview-list-header {
  margin-top: 16px;
}

/* ----- loader -----*/
.loader {
  width: 30px;
  height: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader-dot {
  width: 6px;
  height: 6px;
  background-color: var(--text-default);
  position: absolute;
  border-radius: 100px;
}

.loader-dot1 {
  animation: dot1 2s;
  left: 0%;
  top: 0%;
  animation-iteration-count: infinite;
  transform-origin: top;
}

.loader-dot2 {
  animation: dot2 2s;
  animation-delay: 0.5s;
  left: 50%;
  bottom: 0%;
  transform: translateX(-50%);
  animation-iteration-count: infinite;
  transform-origin: center;
}

.loader-dot3 {
  animation: dot3 2s;
  right: 0%;
  top: 0%;
  animation-iteration-count: infinite;
}

@keyframes dot1 {
  from {
    left: 0%;
    height: 6px;
  }
  50% {
    left: 0%;
    height: 100%;
  }
  to {
    height: 6px;
  }
}

@keyframes dot2 {
  from {
    bottom: 0%;
    left: 50%;
    height: 6px;
  }
  50% {
    height: 100%;
  }
  to {
    height: 6px;
  }
}

@keyframes dot3 {
  from {
    right: 0%;
    height: 6px;
  }
  50% {
    right: 0%;
    height: 100%;
  }
  to {
    height: 6px;
  }
}

/* ----- SETTINGS PAGE -----*/
#settings {
  padding: 0;
}

.settings-heading {
  text-decoration: none;
  color: var(--text-main-heading);
  border-bottom: 1px solid var(--form-background);
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.settings-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* ----- TOGGLE SWITCH -----*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-tap-highlight-color: transparent;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--green);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* MORE PAGE */

/* ----- BOOKING PAGE -----*/
.booking-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  z-index: 999999;
}

#booking > .tab {
  width: 100%;
}

.hour-info {
  display: flex;
  background-color: #f04f4f0c;
  color: var(--error);
  box-sizing: border-box;
  padding: 16px;
  border-radius: 10px;
}

.alert-circle {
  width: 100%;
}

#food-list {
  overflow-y: scroll;
  position: absolute;
  top: 170px;
  bottom: 0;
  left: 16px;
  right: 16px;
}

#img-prieview {
  border-radius: 10px;
  margin: 0 auto;
  display: block;
}

/* ----- DIALOG -----*/
.dialog{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.589);
  backdrop-filter: blur(5px);
  z-index: 99999999;
}

.dialog-container{
  width: 85%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px auto;
  grid-template-areas:
    "img"
    "heading"
    "text"
    "button";
}

.dialog-content{
  background-color: #fff;
  border-radius: 10px;
  box-shadow: var(--shadow-primary);
  box-sizing: border-box;
  padding: 84px 32px 32px 32px;
}

.dialog-container > img{
  grid-area: img;
  justify-self: center;
  z-index: 99999;
}

.dialog-content > h4{
  grid-area: heading;
  margin-bottom: 8px;
  color: var(--text-main-heading);
  font-size: 24px;
}
