/* @import "navigation.css"; */

#profile {
  padding: 0;
}

#profileMap {
  height: 150px;
  border-radius: 10px;
  margin: 16px 0;
}

.header {
  display: grid;
  background-color: var(--green);
  grid-template-columns: 20% 1fr 20%;
  grid-template-rows: 60px 60px;
  grid-template-areas:
    ". . ."
    "back profile-img settings";
}

.back-button {
  grid-area: back;
  justify-self: center;
  color: var(--text-white);
}

.profile-image {
  grid-area: profile-img;
  justify-self: center;
  border-radius: 50px;
  width: 80px;
  height: 80px;
  border: solid 8px white;
}

.settings-button {
  grid-area: settings;
  justify-self: center;
  color: var(--text-white);
}

.profile-content {
  padding: 0 16px;
}

.statistics {
  background-color: var(--form-background);
  width: 47%;
  border-radius: 10px;
}

.statistics-header {
  padding-bottom: 10px;
}

.food-shared {
  color: var(--green);
}

.sharing-container {
  display: grid;
  grid-template-columns: 100px 12px 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "photo . header"
    "photo . time"
    "photo . address";
}

.food-thumbnail {
  grid-area: photo;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.food-header {
  grid-area: header;
  align-self: center;
}

.food-details {
  padding-right: 12px;
}

.pick-time {
  grid-area: time;
}

.pick-address {
  grid-area: address;
  color: var(--text-details);
}

.food-amount {
  grid-area: amount;
  justify-self: right;
  padding-right: 5px;
  color: var(--text-details);
  align-self: center;
}

.unit {
  grid-area: unit;
  color: var(--text-details);
  align-self: center;
}

/* ----- stars ratings -----*/
.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}

.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
  color: var(--text-default);
  font-size: 20px;
  opacity: 0.3;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-size: 20px;
  color: #fac43a;
}

.total-rating {
  padding-left: 10px;
}

/* ----- ratings -----*/
.review-container {
  box-shadow: 0px 1px 1px 0px #0000001a;
  padding: 20px;
}

.star-full {
  font-family: FontAwesome;
  width: 25px;
}

.star-full::before {
  content: "\f005 ";
  font-size: 20px;
  color: #fac43a;
}

.user-pic {
  width: 80px;
  height: 80px;
  object-fit: cover;
  justify-self: center;
  border-radius: 50px;
}
